/*
 * classes & placeholder
 */

/*
 * flex align center (both)
 */
@mixin flex-align-center ($direction: null) {
  display: flex;
  @if $direction == 'row' {
    justify-content: center;
  }
  @else if $direction == 'column' {
    align-items: center;
  }
  @else {
    justify-content: center;
    align-items: center;
  }
}

/*
 * flex align between
 */

/*
 * position align center (both)
 */
@mixin element-align-center ($direction: null) {
  @if $direction == 'row' {
    left: 50%;
    transform: translateX(-50%)
  }
  @else if $direction == 'column' {
    top: 50%;
    transform: translateY(-50%);
  }
  @else {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

/*
 * medai query
 * mobile width : 760px
 * table width : < 760px && >= 1024px
 */
$mobile-query  : 'screen and (max-width: 750px)';
$tablet-query  : 'screen and (min-width: 751px) and (max-width: 1024px)';
$desktop-query : 'screen and (min-width: 1025px)';

@mixin media-mobile () {
  @media #{$mobile-query} {
    @content;
  }
}
@mixin media-tablet () {
  @media #{$tablet-query} {
    @content;
  }
}
@mixin media-desktop () {
  @media #{$desktop-query} {
    @content;
  }
}
