%dropdown
  @extend %reset-ul

  & a:not(.is-folded)
    display: none

  & li
    &:first-of-type a
      border-top-left-radius: 3px
      border-top-right-radius: 3px

    &:last-of-type a
      border-bottom-left-radius: 3px
      border-bottom-right-radius: 3px

  & a
    @extend %reset-link
    display: block
    position: relative
    width: 150px
    height: 50px
    font-size: 14px
    line-height: 3.5

    &.is-active
      display: block

.is-folded
  @extend %box-shadow
  +border-shadow()

  &.is-active
    +border-shadow('top')
    &::after
      position: absolute
      top: 0
      right: 10px
      content: url('../images/icon-up.png')

  &::after
    position: absolute
    top: 0
    right: 10px
    content: url('../images/icon-down.png')

.dropdown-default
  @extend %dropdown
  background: #aaa
  & li a
    // after remove
    &.is-hover
      background: tint(#aaa, 20%)
    &.is-active
      background: shade(#aaa, 20%)
        
    +setting-background(#aaa)

.dropdown-hot
  @extend %dropdown
  background: $hot-color
  & li a
    // after remove
    &.is-hover
      background: tint($hot-color, 20%)
    &.is-active
      background: shade($hot-color, 20%)

    +setting-background($hot-color)

.dropdown-sunny
  @extend %dropdown
  background: $sunny-color
  & li a
    // after remove
    &.is-hover
      background: tint($sunny-color, 20%)
    &.is-active
      background: shade($sunny-color, 20%)

    +setting-background($sunny-color)

.dropdown-fresh
  @extend %dropdown
  background: $fresh-color
  & li a
    // after remove
    &.is-hover
      background: tint($fresh-color, 20%)
    &.is-active
      background: shade($fresh-color, 20%)

    +setting-background($fresh-color)

.dropdown-sky
  @extend %dropdown
  background: $sky-color
  & li a
    // after remove
    &.is-hover
      background: tint($sky-color, 20%)
    &.is-active
      background: shade($sky-color, 20%)

    +setting-background($sky-color)
