// sprite image를 위한 변수.
$img-width: 91px;
$img-height: 126px;
$img-gap: 11px;
$img-height-gap: 8px;

// 카드 클래스를 위한 변수.
$card-list: ('a', '2', '3', '4', '5', '6', '7', '8', '9', '10', 'j', 'q', 'k', 'joker');
