// box-sizing
html
  box-sizing: border-box

*,
* ::before,
* ::after
  box-sizing: inherit

// reset button
%reset-button
  border: none

// reset ul
%reset-ul
  padding: 0
  margin: 0
  list-style: none

// reset achor
%reset-link
  text-decoration: none

// reset checkbox
%reset-checkbox
  margin: 0
